
 /* 基础部分 */

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #111;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 40px;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
}


#games,#articles,#music
{
    cursor: pointer;
}




/* 游戏部分 */

.game-section .game-item
{
    height: 100%;
    width: 100%;

    display: flex;

    margin-top: 50px;
    margin-bottom: 20px;
}

.game-section .game-item img
{
    height: 400px;

}


.game-section .game-item .right-area
{
    width: 100%;
    margin-left: 2%;

}



.game-section .game-item .game-name
{
    text-align: center;

}


