body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #fff;
}
.header {
    background-color: #000;
    text-align: center;
    padding: 20px;
}
.header h1 {
    color: #fff;
}
.main {
    padding: 20px;
}
.category-container {
    display: flex;
    overflow-x: auto;
}
.website-item {
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    min-width: 300px;
    flex-shrink: 0; 
}
.website-link {
    font-size: 18px;
    font-weight: bold;
    color: #fff; 
    text-decoration: none;
}