* {
  margin: 0px;
  padding: 0px;
}
html,body,#app{
  height: 100%;
}


canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;

  opacity: 1;

  border: 1px solid white;
}


#characterBar {
  position: fixed;
  width: 20%;
  background-color: antiquewhite;
  text-align: center;
  right: 0px;
  border: 1px white solid;
}

#characterBar .state {
  float: left;
  width: 50%;
}

#characterBar .items {
  float: left;
  width: 50%;
}


#characterBar .items:hover {
  cursor: pointer;
  background-color: blueviolet;
}


#content {
  line-height: 2;
  height: 100%;
  width: 80%;
  background-color:rgba(223, 198, 168,0.5);
  margin-bottom: 80px;
  padding-left: 10%;
  padding-right: 10%;
  overflow: auto;
  padding-bottom: 1000px;


}

#content>h1 {
  text-align: center;
}

#content>p {
  text-indent: 2em;
  overflow: hidden;
}


#settingBar {
  display:flex;
  width: 100%;
  height: 10%;
  line-height: 80px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  background-color: burlywood;
  
}

#settingBar>.setting-item {
  flex:1;
  border: 1px white solid;
}

#settingBar>.setting-item:hover {
  background-color: brown;
  cursor: pointer;
}


.setting-page{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: coral;
}

